.left{
    background-color: aqua;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 26%;
    width: 45%;
    padding-right: 9%;
    padding-left: 5%;
    padding-top: 5%;
    justify-content: center;
}
.right{
   
    display: inline-block;
    width: 35%;
    padding-bottom: 1%;
    background-color: white;
    padding-left: 12%;
    padding-right: 0%;
}
.card-body{
    width: 50%;
    margin-right: 20%;
    display: inline-block;
    box-sizing: border-box ;
    

}
.container{
    width: 80%;
    box-sizing: border-box;
    margin-left: 10%;


}
.test3{
    color: white;
    padding-left: 15%;
}

.sss{
    text-align: center;
    margin-left: 90%;
    background-color: cornflowerblue;
}
.body{
    padding-top: 2%;
    padding-right: 0%;
    margin-left: 0%;
    width: 100%;
    background-color: blueviolet;

    
}
.header{
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;

}

.A{
    padding-bottom: 0%;
    padding-top: 0%;
    text-align: justify;
}