.text-{
    color: blue;
    border-left: 4px red solid;
    border-bottom: 3px red solid;
    border-top: 3px red solid;
    border-right: 3px red solid;
    background-color: aquamarine;
    border-radius: 5px 10px ;
    padding-left: 2%;
    margin-bottom: 2%;
    width: 30%;
    display: inline-block;
    vertical-align:baseline;
    padding-bottom: 6%;
    padding-top: 4%;
    margin-right: 1%;
    margin-left: 1%;
    padding-right: 2%;
    

}
.sss{
    text-align: center;
}
*{
   margin: 0%; 
   padding: 0%;
   box-sizing: border-box;
}
.test{
    background-color: black;
    color: white;
    width: 30%;
    padding-top: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.text--{
    color: blue;
    border-left: 4px red solid;
    border-bottom: 3px red solid;
    border-top: 3px red solid;
    border-right: 3px red solid;
    background-color: aquamarine;
    border-radius: 5px 10px ;
    padding-left: 2%;
    margin-bottom: 2%;
    width: 30%;
    display: inline-block;
    margin-left:1% ;
    margin-right:1% ;
    padding-bottom: 6%;
    padding-top: 4%;
    
}