* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.container {
    width: 80%;
    margin: auto;
}

.padding-top-bottom {
    padding: 4% 0%;
}

.car {
    background-color: black;
    
}

img {
    width: 30%;
    animation-name: change-Dircation;
    animation-duration: 4s;
    margin: 5% 0%;
    animation-iteration-count: infinite;
}
@keyframes change-Dircation {
    0%{
        transform: translateX(1000px);

    }
    
}