*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: cursive;
}
.container{
    width: 80%;
    margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    
}
.d-flex-img{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
    width: 90%;
}
.list{
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
a{
    color: inherit;
    text-decoration: none;
}
.text-center{
    text-align: center;
    margin-bottom: 10%;
}
.btn{
    background-color: rgb(6, 92, 49);
    color: white;
    text-align: center;
    padding: 2%;
    border-radius: 50%;
}
.img1{
    width: 78%;
}
.img2{
    width: 50%;
}
.bg-light{
    background-color: rgb(108, 131, 128);
    width: 100%;
    margin-bottom: 3%;
}
.bg-light h2{
    padding-top: 8%;
    padding-left: 8%;
    
}
.bg-light p{
    width: 67%;
    padding-top: 5%;
    padding-left: 8%;
}
.margin-left{
    margin-left: 5%;
    display: flex;
    margin-top: 4%;
}
.custom-fresh{
    display: flex;
    justify-content: space-between;
}
.fresh{
    width: 50%;
    margin-bottom: 5%;
}
.fresh img{
    width: 100%;
}
.fresh-organic{
    width: 40%;
    padding-top: 5%;
    padding-right: 2%;
}
.produce{
    margin-bottom: 3%;
}
.icon{
    display: flex;
    width: 100%;
    justify-content: space-between;
    column-gap: 20px;
    
}
.icon2{
    padding: 4% 0%;
    display: flex;
    column-gap: 20px;
}
.border-radius{
    border: 1px solid;
    width: 15%;
    height: 20%;
    border-radius: 50%;
}
.bg-dark{
    background-color: rgb(108, 131, 128);
    width: 100%;
    margin-bottom: 3%;
    padding-left: 4%;
    height: 500px;
}

.width{
    width: 40%;
    padding-top: 52px;
}
.width img{
    padding-top: 5%;
    width: 100%;
}
.addition{
    width: 40%;
    display: flex;
}

.background{
    background-color: darkcyan;
    border: 1px solid;
    width: 20%;
    height: 10%;
    padding-top: 1%;
    margin-top: 10%;
}
.colums{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.bg-dark p{
    width: 237px;
    padding-top: 30%;
}
.bg-img{
    text-align: center;
    color: white;
    align-items: center;
    padding-top: 30%;

}
.bg-img button{
    padding: 2%;
    border-radius: 20px 20px 20px 20px;
    width: 20%;
    height: 20%;
    text-align: center;
    margin-top: 2%;
    background-color: transparent;
    color: white;
}

.padding-bottom{
    padding-bottom: 80px;
}
.image{
    background-image: url(image/img3.jpg);
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 10%;


}
.position-absolute{
    background-color: rgb(167, 90, 60);
    height: 200px;
    width: 60%;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
    padding-top: 5%;
    padding-left: 6%;
    padding-right: 4%;
    position: absolute;
    right: 261px;
    top: 2914px;
}
.custom-icon{
    display: flex;
    justify-content: space-between;  
    gap: 30px;  
}
.plant{
    width: 20%;
    text-align: center;
}

.border-icon{
    border: 1px solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}
.plant{
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: rgb(6, 92, 49);
    padding: 40px 60px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.logo-footer{
    width: 40%;
    
}
.social{
    display: flex;
    margin-top: 2%;
}